body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: black;
}

.lead, .info {
  font-size: 1.5rem;
  color: white;
}
.lead-sub {
  font-size: 2rem;
  font-weight: 400;
}
.lead-primary {
  font-size: 3rem;
  font-weight: 500;
}
.text-justify {
  text-align: left;
  text-justify: inter-word;

}
.cover-container {
  position: relative;
  max-width: 100%;
  background-image: url('../../img/big_galaxy_small_dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.75; */
  height: 100vh;
}

.main-content {
  position: relative;
  /* padding-top: 10vh; */
  padding-bottom: 2rem;
}
.navbar {
  /* -webkit-box-shadow: 0 8px 6px 6px rgba(0, 0, 0, 0.758);
  -moz-box-shadow: 0 8px 6px 6px rgb(56, 55, 55); */
  box-shadow: 0 8px 6px 6px rgba(0, 0, 0, 0.758);
  z-index: 1;
}
.navbar-nav  .nav-link {
  padding-left: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-brand img {
  height: 2rem;
}

footer {
  display: none;
}

.logo {
  width: 20rem;
}

.logo-container {
  margin-bottom: 2rem;
}

a {
  color: #f28337;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #ca351a;
  font-weight: 700;
  text-decoration: dashed underline;
}

.feature-grid {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
img.img-feature {
  width: 80%;
  height: auto;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
  -moz-box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
  box-shadow: 0px 0px 20px 3px rgba(180, 180, 180, 0.91);
}
.feature-grid h1 {
  font-size: 1.6rem;
  font-weight: 400;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}
img.img-logo-overlay {
  position: relative;
  right: -25%;
  bottom: 20%;
  width: 30%;
}

p.text-responsive {
  font-size: 1rem;
}

.btn-nav {
  max-width: 300px;
  width: 80%;
  background-color: #ca351a;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-about {
  background-color: #6f1b00;
}
.btn-jupyter {
  background-color: #f28337;
}
.btn-matrix {
  background-color: #0dbd8b;
}
.navbar-item:hover {
  background-color: rgb(85, 85, 85);
}
a.nav-link {
  text-decoration: none;
}
.bg-dark {
  /* background-color: black !important; */
  background-color: #002855 !important;
}

@media (min-width: 1600px) {  
  .col-xl-10 {
    width: 1200px;
  }
}

@media (max-width: 1199px) {  
  p.text-responsive {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .btn-dark, .btn-nav, .btn-jupyter, .btn-matrix {
    font-size: 0.7rem;
    /* margin: 0; */
  }

  .lead {
    font-size: 0.8rem;
  }
  .lead-sub {
    font-size: 1.5rem;
  }
  .lead-primary {
    font-size: 2rem;
  }
  div {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  p.text-responsive {
    font-size: 1.0rem;
  }
  img.img-feature {
    width: 50%;
  }
  img.img-logo-overlay {
    position: relative;
    right: 10%;
    bottom: -40%;
    width: 10%;
  }
  .feature-grid h1 {
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
  }
}
